# Package Specifics
chromedriver.exe
Run1.csv
Run2.csv
Run3.csv
Run4.csv
Run5.csv
02. DataValidation.ipynb
03. DataAnalysis.ipynb
RunScript.bat

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
